/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #team {
        padding: var(--sectionPadding);
        background-color:white;
    }
   
    .team-container {
        max-width: 95%; /* 800px */
        margin: 0 auto;
      }
      
      .team-content {
        background-color: #ffffff; /* White background for content */
        padding: 1.25rem; /* 20px */
        border-radius: 0.625rem; /* 10px */
        box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1); /* Classic box shadow */
      }
    #team .team-graphic {
        width: 100%;
        max-width: 26.82352941rem;
        margin: 0 0 1rem 0;
    }
    #team .team-title {
        font-size: var(--headerFontSize);
        font-weight: 900;
        line-height: 1.2em;
        text-align: inherit;
        max-width: 43.75rem;
        margin: 0 0 1rem 0;
        color: var(--headerColor);
        position: relative;
    }
    #team .team-text {
        font-size: var(--bodyFontSize);
        line-height: 1.5em;
        text-align: inherit;
        width: 100%;
        max-width: 40.625rem;
        margin: 0;
        color: var(--bodyTextColor);
    }
    #team .team-title,
    #team .team-text {
        color: var(--bodyTextColorWhite);
    }
    #team .team-text {
        opacity: 0.8;
    }
    #team .team-card-group {
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        /* 16px - 20px */
        gap: clamp(1rem, 2vw, 1.25rem);
    }
    #team .team-item {
        list-style: none;
        width: 100%;
        max-width: 25.8125rem;
        position: relative;
        z-index: 1;
    }
    #team .team-item:hover .team-picture {
        background-color: white;
    }
    #team .team-item:hover .team-picture img {
        transform: scale(1.1);
        opacity: 0.6;
    }
    #team .team-info {
        width: 85.5%;
        /* 16px - 24px */
        padding: clamp(1rem, 2vw, 1.5rem);
        margin: -3.75rem auto 0;
        box-sizing: border-box;
        background-color: white;
        border-top: 4px solid var(--primary);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 10;
    }
    #team .team-name {
        /* 16px - 25px */
        font-size: clamp(1rem, 2vw, 1.5625rem);
        font-weight: 700;
        line-height: 1.2em;
        /* 4px - 8px */
        margin: 0 0 clamp(0.25rem, 1vw, 0.5rem);
        color: var(--bodyTextColorWhite);
        display: block;
        transition: color 0.3s;
    }
    #team .team-job {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        color: var(--bodyTextColorWhite);
        opacity: 0.8;
        display: block;
    }
    #team .team-picture {
        width: 100%;
        /* 246px - 500px */
        height: clamp(15.375rem, 40vw, 32.25rem);
        overflow: hidden;
        display: block;
        position: relative;
        transition: background-color 0.3s;
        z-index: -1;
    }
    #team .team-picture img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /* makes it behave like a background imahe */
        object-fit: cover;
        /* makes the image position itself at the top of the parent */
        object-position: top;
        transition:
            transform 0.6s,
            opacity 0.3s;
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #team .team-card-group {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        width: 100%;
    }
    #team .team-item {
        grid-column: span 4;
    }
}
