.page-container {
    display: flex;
    flex-direction: column;
    min-height: 65vh;
}

.insta-logo {
    height: 12%;
    width: 12%;
    transform: translate(-70%, 33%);
}

.button-div {
    display: inline-block;
    text-align: center;
    margin-left: -30px;
    margin-right: -50px;
}


body {
    flex: 1;
}
